{{define "content"}}
    <div class="no-meter-click">element for click</div>
    <a href="" class="link">link for click</a>
    <label class="label">
        <input type="text" id="test-input-text">
    </label>
    <label for="test-checkbox"> label for checkbox </label>
    <input type="checkbox" id="test-checkbox">

    <p>
        <button id="test-button" disabled>test button</button>
    </p>
{{end}}
